@import "./partials/accordion";
@import "./partials/table";
@import "./partials/variables";


.admin__delete_product {
    height: 30px;
    width: 30px;
    border: none;
    background-image: url("../../public/trash3.svg");
    background-repeat: no-repeat;
}

#admin__table_search {
    max-width: 250px;
    height: 2.2rem;
    background-color: $gray  !important;
    border: 1px solid $primary-300;

    button {
        color: black !important;
    }
}