.cart_container {
    font-weight: 500;
    position: relative;
}

.bi-cart3 {
    font-size: 1rem;
}

.navbar__cart_count {
    display: grid;
    font-size: 12px;
    padding: .25rem;
    place-items: center;
    position: absolute;
    top: 0px;
    right: -10px;
}