.navbar-container {
    font-size: 1.2em;

    i {
        font-size: 1.5em;
    }
}

.navbar {
    .active {
        text-decoration: underline !important;
    }

    .dropdown-item.active {
        background-color: $light  !important;
        color: #000000 !important;
    }
}

.search-container {
    max-width: 250px;
    height: 2.2rem;

    button {
        color: black !important;
    }
}

.search__icon {
    border: none !important;
}

.search__input:focus {
    box-shadow: none !important;
}

.navbar-toggler {
    border: none !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

// .navbar {
//     flex-wrap: unset !important;
// }


.cart_container {
    font-weight: 600;
    position: relative;
    max-width: 30px;
}

.cart__count_container {
    aspect-ratio: 1/1;
    height: 20px;

    place-items: center;
    font-size: 12px;
    position: absolute;
    top: 7px;
    right: -14px;
}