$primary-600: #23036a;
$primary-500: #962bbf;
$primary-400: #df8dff;
$primary-300: #edc1ff;

$gray: #f7f7f71a;

$secondary-600: #018786;
$secondary-500: #03DAC5;
$secondary-400: #7dfff2;
$secondary-300: #b3fff7;

$primary: $primary-500;
$secondary: $secondary-500;
// $light: #f7f7f71a;

$gradients: (
    primaryBackgroundGradient: linear-gradient(150deg,
        rgba(128, 0, 177, 1) 30%,
        rgba(103, 201, 192, 1) 75%),
    secondaryBackgroundGradient: linear-gradient(320deg,
        #962bbf 0%,
        #67c9c0 50%,
        #03DAC5 100%),
);

@function getGradients($gradient) {
    @return map-get($gradients, $gradient);
}

$spinner-width: 8rem;
$spinner-height: $spinner-width;
$spinner-animation-speed: 1s;
$spinner-border-width: .5em;